<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Products</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/product.css" />
    </head>
    <body>
        <div>
            <div class="wrapper">
                <div class="header__container container">
                    <a href="/">
                        <div class="header__logo">
                            <img
                                src="/images/logo.png"
                                class="header__logo-image"
                                alt=""
                            />
                            <div class="header__logo-text">CloudComputing</div>
                        </div>
                    </a>
                    <div class="header__menu">
                        <a href="/home" class="header__menu-item">
                            Add Product
                        </a>
                        <a href="/search" class="header__menu-item"> Search </a>
                        <!-- <a href="" class="header__menu-item"> Login </a>
                        <a href="" class="header__menu-item"> Sign Up </a> -->
                    </div>
                </div>
                <section class="container home__container">
                    <form action="/create" method="POST" class="home__form">
                        <div>
                            <div class="title">Add New Product</div>
                            <div class="form__action">
                                <label class="form__label">Name Product:</label>
                                <input
                                    type="text"
                                    name="productName"
                                    placeholder="Name product"
                                    class="form__input"
                                />
                                <label class="form__label">Price:</label>
                                <input
                                    type="text"
                                    name="price"
                                    class="form__input"
                                    placeholder="Price product"
                                />
                                <label class="form__label">Image:</label>
                                <input
                                    type="text"
                                    name="image"
                                    class="form__input"
                                    placeholder="Link Image"
                                />
                                <label class="form__label">Description:</label>
                                <input
                                    type="text"
                                    class="form__input"
                                    name="description"
                                    placeholder="Description product"
                                />
                            </div>
                            <button type="submit" class="btn-submit">
                                Add
                            </button>
                        </div>
                    </form>
                    <div class="home__table">
                        <div class="title title-table">List Products Table</div>
                        <% if(products.length === 0) { %>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Product Name</th>
                                    <th>Image</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td colspan="5" class="empty_product">
                                    No Product, Please Add Some
                                </td>
                            </tbody>
                        </table>
                        <% }%> <% if(products.length !== 0) { %>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Product Name</th>
                                    <th>Image</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0; i < products.length; i++) { %>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= products[i].productName %></td>
                                    <td style="padding: 0px">
                                        <img
                                            style="width: 150px"
                                            src="<%= products[i].image %>"
                                            alt=""
                                        />
                                    </td>
                                    <td><%= products[i].price %></td>
                                    <td><%= products[i].description %></td>
                                    <td
                                        style="
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            border: none;
                                            border-bottom: 1px solid #222;
                                            gap: 10px;
                                        "
                                    >
                                        <form
                                            action="/<%= products[i].id %>/edit"
                                            method="GET"
                                        >
                                            <button type="submit">Edit</button>
                                        </form>
                                        <form action="/delete" method="POST">
                                            <input
                                                type="hidden"
                                                value="<%= products[i].id %>"
                                                name="productId"
                                            />
                                            <button type="submit">
                                                Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <% }%>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
