<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Products</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div>
            <div class="wrapper">
                <section class="container home__container">
                    <form action="/create" method="POST" class="home__form">
                        <div>
                            <div class="title">Add New Product</div>
                        </div>
                        <div>
                            <label>Name Product:</label>
                            <input type="text" name="productName" />
                        </div>
                        <div>
                            <label>Price:</label>
                            <input type="text" name="price" />
                        </div>
                        <div>
                            <label>Description:</label>
                            <input type="text" name="description" />
                        </div>

                        <div>
                            <button type="submit" class="btn-submit">
                                Add
                            </button>
                        </div>
                    </form>
                    <div class="home__table">
                        <div class="title title-table">List Products Table</div>
                        <% if(products.length === 0) { %>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Product name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td colspan="5" class="empty_product">
                                    No Product, Please Add Some
                                </td>
                            </tbody>
                        </table>
                        <% }%> <% if(products.length !== 0) { %>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Product name</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0; i < products.length; i++) { %>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <td><%= products[i].productName %></td>
                                    <td><%= products[i].price %></td>
                                    <td><%= products[i].description %></td>
                                    <td
                                        style="
                                            display: flex;
                                            gap: 5px;
                                            justify-content: space-evenly;
                                            border: none;
                                        "
                                    >
                                        <form
                                            action="/<%= products[i].id %>/edit"
                                            method="GET"
                                        >
                                            <button type="submit">Edit</button>
                                        </form>

                                        <form action="/delete" method="POST">
                                            <input
                                                type="hidden"
                                                value="<%= products[i].id %>"
                                                name="productId"
                                            />
                                            <button type="submit">
                                                Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <% }%>
                    </div>
                </section>
                <section class="container">
                    <div>
                        <a href="/search" class="go-to">Move to search page</a>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
